
/*.sublime-workspace
/.dock.yaml
/.DS_Store/
/.env.*.local
/.env.local
/.env.production
/.git/
/.gitignore
/.idea/
/.php_cs
/.php_cs.cache
/.vscode/
/build
/closet/
/data/
/dist/
/node_modules/
/run
/server
/temp/
/var/
/vendor/
